.weatherPage {
  background-image: url('/weather1.jpg');
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
}

